<form action = "<%= login_path %>" method = 'post'>
  <h5>Войти в аккаунт</h5>
  <input type="name" name="login[name]" placeholder="Логин">
  <input type="password" name="login[password]" placeholder = "Пароль">
  <input type="submit" name="submit" value="Войти в аккаунт">
</form>