<ul>
  <% @orders.each do |order| %>
    <li>
      <a>Status: <%= order.order_status.last.title %></a>
      <a>Id: <%= order.id %></a>
      <a href="<%= techstaff_order_path(order.id) %>">Подробная информация</a>
      <a href="<%= techstaff_edit_order_path(order.id) %>">Изменить</a>
    </li>
  <% end %>
</ul>