<ul>
  <% @orders.each do |order| %>
    <li>
      <a>Status: <%= order.status %></a>
      <a>Id: <%= order.id %></a>
      <% order.ordered_product.each do |product|%>
        <div>
          <a><%= Product.find_by(id: product.product_id).title %></a>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>