<div class="card">
  <div class="card-body">
    <h3 class="card-title">Название статуса: <%= status.title %></h3>
    <h4 class="card-text">Время: <%= status.created_at.strftime("%d-%m-%Y %H:%M") %></h4>
  </div>
</div>