<div style="text-align: center">
  <h1 >Мы - сайт музыкальных инструментов!</h1>
  <h1>Телефон: 8-800-555-35-35</h1>
  <h1>Почта: rickrolled@lol.com</h1>
  <h1>Адрес: улица Пушкина дом Колотушина</h1>
</div>