
<a class="btn btn-secondary" href="<%= admin_all_orders_path %>">Все заказы</a>
<a class="btn btn-secondary" href="<%= admin_all_products_path %>">Все продукты</a>
<a class="btn btn-secondary" href="<%= admin_new_product_path %>">Новый продукт</a>