<li><a href="<%= admin_all_profiles_path %>">Все профили</a></li>
<li><a href="<%= admin_all_orders_path %>">Все заказы</a></li>
<li><a href="<%= admin_all_products_path %>">Все продукты</a></li>
<li><a href="<%= admin_new_product_path %>">Новый продукт</a></li>