<% if !@products.empty? %>
  <% @products.each do |product| %>
    <div class="col-4">
      <%= render partial: "products/product_order_pattern", locals: {product: product} %>
    </div>
    <% end %>
  <form action="<%= new_order_path %>" accept-charset="UTF-8" method="post">
    <input type="submit" name="commit" class="btn btn-success" value="Оформить заказ">
  </form>
  <% else %>
  <h1 style="text-align: center">Ваша корзина пустая</h1>
<% end %>


