<div class="container justify-content-md-center">
  <div class="row">
  <% @products.each do |product| %>
    <div class="col-4 mb-3">
      <%= render partial: "products/admin_product_pattern", locals: {product: product} %>
    </div>
  <% end %>
  </div>
</div>     