<html>
  <head>
    <meta charset="utf-8">
    <title>Главная страница</title>
  </head>
  <body>
    <ul>
      <% @products.each do |product| %>
        <li>
          <a>Name: <%= product.title %></a>
          <a>Price: <%= product.price %></a>
          <a>Count: <%= product.count %></a>
          <form action="<%= delete_product_path(product)%>" accept-charset="UTF-8" method="get">
            <div><input type="submit" name="commit" value="Delete product"></div>
          </form>
        </li>
      <% end %>
    </ul>
  </body>
</html>