<form action = "<%= new_product_path %>" method = 'post'>
  <h5>Создать продукт</h5>
  <input type="text" name="product[title]" placeholder="Наименование">
  <input type="number" name="product[price]" placeholder="Цена">
  <input type="submit" name="submit" value="Создать продукт">
</form>